{% extends "layout.html" %}

{% block title %} retrieve people activities {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('view_projects') }}">Projects</a></li>
            <li><a href="{{ url_for('view_areas') }}">Areas</a></li>
            <li><a href="{{ url_for('view_teams') }}">Teams</a></li>
            <li><a href="{{ url_for('view_repositories') }}">Repositories</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('view_permissions') }}">Permissions</a></li>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">Reporting</h2>
          <div class="table-responsive">
              <a href="{{ url_for('export_admin_records') }}">Export to Excel</a>
              {{data | safe}}
          </div>
        </div>
      </div>
    </div>

    	
{% endblock %}
